ceph:
  lookup:
    # create keys: python -c "import os ; import struct ; import time; import base64 ; key = os.urandom(16) ; header = struct.pack('<hiih',1,int(time.time()),0,len(key)) ; print base64.b64encode(header + key)"
    keys:
      client.admin:
      client.bootstrap-mon:
      client.bootstrap-mds:
      client.bootstrap-osd:
      client.bootstrap-rgw:
      osd.0:
      osd.1:
      osd.2:

